@import "~ant-design-vue/es/style/themes/default";

.page-exchange-markets.info {
  .orderbook {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
    > * {
      flex: 1;
      margin: 0 6px;
      height: max-content;
    }

    .action span {
      color: @text-color-secondary;
      &:hover {
        color: @processing-color;
      }
    }
  }
}
